.fa {
  color: #1c98f1;
  transition: all 0.5s ease; }

* {
  font-family: 'Trebuchet MS'; }

body {
  background: #fff; }

body, ul, li {
  margin: 0;
  padding: 0; }

p, li, h1, h2, h3, h4 {
  color: #4e4e4e; }

.wrapper {
  border: 1px solid black;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%; }

.button {
  width: 160px;
  height: 55px;
  border-radius: 2px;
  cursor: pointer;
  color: #f9f9f9;
  background-color: #1c98f1;
  border: 4px solid transparent;
  font-size: 1.4em;
  text-align: center;
  line-height: 55px;
  vertical-align: middle;
  transition: 0.25s; }
  .button:hover {
    color: #1c98f1;
    border-color: #1c98f1;
    background-color: transparent; }

header {
  height: 70px;
  display: flex;
  align-items: center; }
  header .wrapper {
    border: none; }
    header .wrapper h1 {
      line-height: 0;
      margin: 0;
      text-indent: -10000px; }
    header .wrapper nav {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      header .wrapper nav h2 {
        line-height: 0;
        display: none;
        margin: 0;
        text-indent: -10000px; }
      header .wrapper nav ul {
        padding-left: 50px;
        list-style: none;
        display: flex;
        justify-content: center; }
        header .wrapper nav ul li {
          padding: 0 10px;
          font-size: 20px; }
          header .wrapper nav ul li:last-child {
            border-right: none; }
          header .wrapper nav ul li a {
            text-decoration: none;
            font-weight: bold;
            color: black; }
          header .wrapper nav ul li .selected {
            color: #3399ff; }

#banner {
  background: white;
  width: 100%;
  height: 670px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center; }
  #banner .wrapper {
    padding-top: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center; }

#services {
  height: 200px;
  background-color: whitesmoke; }
  #services .wrapper {
    border: none;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #services .wrapper .options {
      width: 100%; }
      #services .wrapper .options ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between; }
        #services .wrapper .options ul li {
          padding: 0 45px;
          width: 190px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          #services .wrapper .options ul li h3 {
            margin: 5px;
            font-size: 16px;
            text-align: center;
            color: #006699;
            font-weight: normal; }

#articles {
  background-color: white;
  height: 700px;
  display: flex;
  align-items: center; }
  #articles .wrapper {
    position: relative;
    border: none; }
    #articles .wrapper .navigation {
      display: flex;
      position: absolute; }
      #articles .wrapper .navigation .animated-button {
        z-index: 600;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        display: block;
        position: relative;
        transition: all 1s ease; }
        #articles .wrapper .navigation .animated-button.right:before {
          right: 0px;
          width: 0px; }
        #articles .wrapper .navigation .animated-button.left:before {
          left: 0px;
          width: 0px; }
        #articles .wrapper .navigation .animated-button:before {
          content: '';
          z-index: -1;
          height: 100%;
          top: 0px;
          background: #1c98f1;
          display: block;
          position: absolute;
          transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
        #articles .wrapper .navigation .animated-button:hover {
          background-color: transparent; }
          #articles .wrapper .navigation .animated-button:hover .fa {
            color: white; }
          #articles .wrapper .navigation .animated-button:hover.right:before {
            left: 0%;
            right: auto;
            width: 100%; }
          #articles .wrapper .navigation .animated-button:hover.left:before {
            right: 0%;
            left: auto;
            width: 100%; }
    #articles .wrapper .nav-background {
      display: flex;
      position: absolute; }
      #articles .wrapper .nav-background .bg {
        z-index: 50;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: whitesmoke;
        overflow: hidden;
        display: block;
        position: relative;
        transition: all 1s ease; }
  #articles .owl-carousel .owl-item article {
    background-color: black;
    height: 550px;
    margin: 15px 20px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 16px;
    cursor: default; }
    #articles .owl-carousel .owl-item article .text {
      margin: 15% 10% 10% 10%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #articles .owl-carousel .owl-item article .text .quote h3 {
        color: #cccdcd;
        font-size: 24px;
        text-align: center;
        margin: 0;
        padding: 30px 0; }
      #articles .owl-carousel .owl-item article .text .separator {
        height: 1px;
        width: 20%;
        background-color: #686b6d; }
      #articles .owl-carousel .owl-item article .text .quote-info {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #articles .owl-carousel .owl-item article .text .quote-info h3 {
          color: #cccdcd;
          text-align: center;
          text-transform: uppercase;
          margin: 0;
          padding: 30px 0 5px 0; }
        #articles .owl-carousel .owl-item article .text .quote-info h4 {
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          padding: 0; }
    #articles .owl-carousel .owl-item article:hover .quote h3 {
      color: white; }
    #articles .owl-carousel .owl-item article .info .tags {
      display: none; }

#pc-picture {
  background-color: whitesmoke;
  color: white;
  height: 500px; }
  #pc-picture .wrapper {
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #pc-picture .wrapper .image-container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      #pc-picture .wrapper .image-container .mac-book {
        position: absolute; }
      #pc-picture .wrapper .image-container .left {
        position: absolute; }
        #pc-picture .wrapper .image-container .left.top {
          width: 100px;
          top: 18%;
          left: 20%;
          animation: leftTop 5s infinite; }
@keyframes leftTop {
  50% {
    transform: translateX(20px); } }
        #pc-picture .wrapper .image-container .left.mid {
          width: 200px;
          border-radius: 10px;
          bottom: 40%;
          left: 5%;
          animation: leftBot 6s infinite; }
@keyframes leftBot {
  50% {
    transform: translateY(-20px); } }
        #pc-picture .wrapper .image-container .left.bot {
          width: 300px;
          bottom: 27%;
          left: 14%;
          animation: leftMid 5s infinite; }
@keyframes leftMid {
  50% {
    transform: translateX(-33px); } }
      #pc-picture .wrapper .image-container .right {
        position: absolute; }
        #pc-picture .wrapper .image-container .right.top {
          width: 200px;
          border-radius: 10px;
          top: 7%;
          right: 20%;
          animation: rightTop 6s infinite; }
@keyframes rightTop {
  50% {
    transform: translateX(-40px); } }
        #pc-picture .wrapper .image-container .right.mid {
          width: 100px;
          top: 40%;
          left: 75%;
          animation: rightMid 4s infinite; }
@keyframes rightMid {
  50% {
    transform: translateX(30px); } }
        #pc-picture .wrapper .image-container .right.bot {
          width: 100px;
          border-radius: 10px;
          bottom: 30%;
          right: 15%;
          animation: rightBot 4s infinite; }
@keyframes rightBot {
  50% {
    transform: translateX(10px); } }
  #pc-picture .text-container {
    width: 60%; }
    #pc-picture .text-container h3 {
      margin: 0;
      color: black;
      font-size: 32px; }
    #pc-picture .text-container h4 {
      margin: 5px 0 30px 0;
      color: black;
      font-size: 16px; }
    #pc-picture .text-container p {
      margin: 0;
      color: black;
      font-size: 16px;
      margin-bottom: 30px; }

#statistics {
  height: 650px;
  width: 100%;
  background-color: white; }
  #statistics .wrapper {
    height: 100%;
    border: none;
    display: flex;
    align-items: center; }
    #statistics .wrapper ul {
      height: 90%;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between; }
      #statistics .wrapper ul li {
        border: 1px solid grey;
        width: 25%;
        margin: 10px;
        font-weight: bold;
        cursor: pointer; }
        #statistics .wrapper ul li .rectangle {
          background-color: whitesmoke;
          transition: all ease 0.3s; }
          #statistics .wrapper ul li .rectangle a {
            color: black; }
        #statistics .wrapper ul li:hover .rectangle a {
          color: white; }
        #statistics .wrapper ul li:hover .green {
          background-color: #1bbc9d; }
        #statistics .wrapper ul li:hover .blue {
          background-color: #48a2de; }
        #statistics .wrapper ul li:hover .red {
          background-color: #de4f48; }
        #statistics .wrapper ul li:hover .purple {
          background-color: #9988ff; }
        #statistics .wrapper ul li .rectangle {
          margin-top: 10px;
          height: 100px;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center; }
          #statistics .wrapper ul li .rectangle a {
            color: #414B46;
            font-size: 28px;
            text-decoration: none; }
        #statistics .wrapper ul li .info {
          margin: 20px; }
          #statistics .wrapper ul li .info p {
            border-bottom: 1px solid grey;
            text-align: center; }
          #statistics .wrapper ul li .info p:last-child {
            border-bottom: none; }
        #statistics .wrapper ul li .progress-bar {
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          height: 260px; }
          #statistics .wrapper ul li .progress-bar svg {
            position: relative; }
          #statistics .wrapper ul li .progress-bar .percentage {
            position: absolute;
            bottom: 0;
            left: 20%;
            font-size: 60px; }
          #statistics .wrapper ul li .progress-bar img {
            position: absolute;
            width: 10%;
            top: 50%; }

#team {
  background-color: whitesmoke;
  height: 450px;
  overflow: hidden; }
  #team .wrapper {
    height: 100%;
    border: none;
    display: flex; }
    #team .wrapper .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #team .wrapper .content .header {
        text-align: center;
        padding-top: 30px; }
        #team .wrapper .content .header p {
          font-size: 14px;
          margin: 0; }
        #team .wrapper .content .header h3 {
          margin: 5px 0 10px 0; }
      #team .wrapper .content .text {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column; }
    #team .wrapper .images-container {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #team .wrapper .images-container .images {
        width: 100%;
        height: 80%;
        position: relative; }
        #team .wrapper .images-container .images img {
          width: 250px;
          position: absolute; }
        #team .wrapper .images-container .images .page {
          opacity: 0;
          position: absolute;
          width: 150px;
          box-shadow: 0px 19px 56px -17px rgba(0, 0, 0, 0.39);
          border-radius: 10px;
          border: 1px solid #909090; }
        #team .wrapper .images-container .images .pic2 {
          transform: translate(-110px, 210px); }
        #team .wrapper .images-container .images .pic3 {
          transform: translate(200px, 0px); }

#thumb-up-guy {
  height: 500px;
  width: 100%;
  background-image: url("./../images/beforeFooter/background.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: 100% 100%; }
  #thumb-up-guy .wrapper {
    height: 100%;
    display: flex;
    border: none;
    justify-content: center; }
    #thumb-up-guy .wrapper .foreground {
      width: 30%;
      height: 100%;
      position: relative; }
      #thumb-up-guy .wrapper .foreground img {
        position: absolute;
        bottom: 0; }
    #thumb-up-guy .wrapper .text-content {
      padding-left: 110px;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center; }
      #thumb-up-guy .wrapper .text-content .content {
        margin-top: 50px; }
        #thumb-up-guy .wrapper .text-content .content h4 {
          font-size: 50px;
          padding: 0;
          margin: 0;
          color: whitesmoke; }
        #thumb-up-guy .wrapper .text-content .content p {
          color: whitesmoke;
          padding-bottom: 30px; }

footer {
  border-top: 2px solid whitesmoke;
  background-color: #28313a;
  height: 50px;
  overflow: hidden; }
  footer .wrapper {
    height: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .wrapper .links {
      display: flex;
      justify-content: space-around; }
      footer .wrapper .links a {
        padding-left: 20px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: whitesmoke; }
    footer .wrapper .rights {
      color: white;
      font-size: 18px; }

/*# sourceMappingURL=style.css.map */
